@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple: #5566ff;
    --purple-dark: #3b47b0;
    --purple-light: #6675ff;
    --blue: #5599ff;
    --blue-primary: #4d5eff;
    --blue-hover: #4d5fff1c;
    --blue-dark: #5191f2;
    --white: #ffffff;
    --black: #010028;
}

.tiktok-shadow {
    text-shadow: 0 3px 10px orange;
}